.todo__item--done{opacity:.3!important;transition:opacity .25s ease-in-out!important;-moz-transition:opacity .25s ease-in-out!important;-webkit-transition:opacity .25s ease-in-out!important;text-decoration:line-through}.todo__item--done:hover{opacity:1!important}
